#page {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  font-style: italic;
}

h2 {
  color: #555;
}

img {
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
  height: auto;
}

.centered {
  text-align: center;
}