#page {
  font-family: monospace;
  color: #000;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 60px;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
  color: #333;
}

h3 {
  font-size: 1.5em;
  line-height: 0.5em;
  color: #333;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;

}

.centered {
  text-align: center;
}

.aligned-right {
  text-align: right;
}

.image-container {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1px;
}

.image-container imgasdfjkh {
  /* display: block; */
  max-width: 100%;
  /* height: auto; */
  border-radius: 20px;
}

.video-container {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 1px;
}

.video-container iframe {
  width: 49%;
  height: 300px;
}

.audio-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1px;
}

.audio-container audio {
  /* max-width: 100px; */
  /* display: block; */
  border-radius: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ddd;
  padding: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.audio-container audio:hover {
  transform: scale(1.05);
  background-color: #ccc;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}

.logo-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.logo-container img {
  /* width: 20%;
  height: auto; */
  height: 60px;
  width: auto;
  padding-left: 15px;
}

.oneWide {
  width: 100%;
  height: auto;
}

.twoWide {
  width: 49%;
  height: auto;
}

.threeWide {
  width: 32%;
  height: auto;
}

.fourWide {
  width: 24%;
  height: auto;
}

.oneThirdWide {
  width: 32%;
  height: auto;
}

.twoThirdWide {
  width: 65%;
  height: auto;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}