body {
  margin: 0;
}

select {
  width: 49.5%;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1a9bb8;
  text-align: center;
  font-size: 16px;
}

button {
  width: 49.5%;
  padding: 15px 32px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}